body {
    background-image: linear-gradient(rgba(0, 0 , 0, 0.7), rgba(0, 0 , 0, 0.7)), url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/165/839/original/images.jpg?1747247078);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main {
    text-align: center;
}
.content {
    max-width: 80%;
    background-color: blanchedalmond;
    margin: 5px auto;
    padding: 20px;
}
.menu {
    max-width: 50%;
}
nav {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: white;
}
img {
    width: 70%;
}
.why-visit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
button {
    padding: 10px 15px;
    background-color: #916E56;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(48, 35, 35);
}
footer {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}
ul {
    list-style-type: none;
}
article strong {
    text-align: left;
}
.coffee-section {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
article p {
    display: inline-block;
    margin: 5px auto
}
.coffee {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}